<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{ .Width }}" height="20" role="img" aria-label="octocov::badge">
    <title>octocov::badge</title>
    <linearGradient id="s" x2="0" y2="100%">
        <stop offset="0" stop-color="#bbb" stop-opacity=".1"/>
        <stop offset="1" stop-opacity=".1"/>
    </linearGradient>
    <clipPath id="r">
        <rect width="{{ .Width }}" height="20" rx="3" fill="#fff"/>
    </clipPath>
    <g clip-path="url(#r)">
        <rect width="{{ .KeyWidth }}" height="20" fill="{{ .KeyColor }}"/>
        <rect x="{{ .KeyWidth }}" width="{{ .ValueWidth }}" height="20" fill="{{ .ValueColor }}"/>
        <rect width="{{ .Width }}" height="20" fill="url(#s)"/>
    </g>
    <g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" text-rendering="geometricPrecision" font-size="110">
        <!-- <image x="5" y="3" width="14" height="14" xlink:href=""/> -->
        <text aria-hidden="true" x="{{ .KeyX }}" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)">{{ .Key }}</text>
        <text x="{{ .KeyX }}" y="140" transform="scale(.1)" fill="#fff">{{ .Key }}</text>
        <text aria-hidden="true" x="{{ .ValueX }}" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)">{{ .Value }}</text>
        <text x="{{ .ValueX }}" y="140" transform="scale(.1)" fill="#fff">{{ .Value }}</text>
    </g>
</svg>
