name: build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DEBUG: 1
    steps:
      - name: Show rate limit
        run: |
          curl -sL -H "Authorization: token $GITHUB_TOKEN" -H "Accept: application/vnd.github.v3+json" https://api.github.com/rate_limit

      - name: Check out source code
        uses: actions/checkout@v4

      - name: Set up Go
        id: setup-go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Run lint
        uses: reviewdog/action-golangci-lint@v2
        with:
          go_version_file: go.mod
          cache: false
          fail_on_error: true
          golangci_lint_flags: --timeout=5m

      - name: Run govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: '${{ steps.setup-go.outputs.go-version }}'
          check-latest: true
          cache: false
          go-package: ./...

      - name: Run gostyle
        uses: k1LoW/gostyle-action@v1
        with:
          go-version-input: '${{ steps.setup-go.outputs.go-version }}'
          fail-on-error: true

      - name: Run tests
        run: make ci

      - name: Run test_central
        if: ${{ github.event_name == 'pull_request' }}
        run: make test_central

      - name: Run Trivy vulnerability scanner in repo mode
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'

      - name: Build octocov and run as a action
        uses: ./testdata/actions/coverage
        env:
          MACKEREL_API_KEY: ${{ secrets.MACKEREL_API_KEY }}
          OCTOCOV_CUSTOM_METRICS_BENCHMARK_1: ./testdata/custom_metrics/benchmark_1.json
          OCTOCOV_CUSTOM_METRICS_BENCHMARK_0: ./testdata/custom_metrics/benchmark_0.json
          GOTOOLCHAIN: 'go${{ steps.setup-go.outputs.go-version }}'

      - name: Show rate limit
        run: |
          curl -sL -H "Authorization: token $GITHUB_TOKEN" -H "Accept: application/vnd.github.v3+json" https://api.github.com/rate_limit

  test-windows:
    name: Test for Windows
    runs-on: windows-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DEBUG: 1
    steps:
      - name: Use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf

      - name: Check out source code
        uses: actions/checkout@v4

      - name: Set up Go
        id: setup-go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Run tests
        run: make ci

      - name: Run test_central
        if: ${{ github.event_name == 'pull_request' }}
        run: make test_central
