name: build

on:
  push:
  pull_request:

jobs:
  job-test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go_version: [1.16]
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DEBUG: 1
    steps:
      - run: |
          env
          cat ${GITHUB_EVENT_PATH}

      - name: Set up Go ${{ matrix.go_version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go_version }}

      - name: Check out source code
        uses: actions/checkout@v2

      - name: Run lint
        uses: golangci/golangci-lint-action@v2

      - name: Run tests
        run: make ci

      - name: Run build octocov
        run: make coverage

      - name: Run octocov-action
        uses: k1LoW/octocov-action@v0
