name: parallel

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  test-pkgs:
    name: test pkgs
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: go.mod

      - name: Run tests coverage
        run: go test ./coverage/... -coverprofile=coverage_coverage.out -covermode=count

      - name: Run tests ratio
        run: go test ./ratio/... -coverprofile=coverage_ratio.out -covermode=count

      - name: Run tests badge
        run: go test ./badge/... -coverprofile=coverage_badge.out -covermode=count

      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: coverage-report-files-pkgs
          path: |
            coverage_coverage.out
            coverage_ratio.out
            coverage_badge.out

  test-other:
    name: test other
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Check out source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: go.mod

      - name: Run tests other
        run: go test $(go list ./... | grep -v coverage | grep -v ratio | grep -v badge) -coverprofile=coverage_other.out -covermode=count

      - uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7.0.0
        with:
          name: coverage-report-files-other
          path: |
            coverage_other.out

  collect-metrics:
    name: collect metrics
    needs:
      - test-pkgs
      - test-other
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DEBUG: 1
    steps:
      - name: Check out source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Go
        id: setup-go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version-file: go.mod

      - uses: actions/download-artifact@70fc10c6e5e1ce46ad2ea6f2b72d43f7d47b13c3 # v8.0.0
        with:
          pattern: coverage-report-files*
          merge-multiple: true

      - name: Build octocov and run as a action
        uses: ./testdata/actions/collect
        env:
          GOTOOLCHAIN: 'go${{ steps.setup-go.outputs.go-version }}'
